body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  background-color: #404040;
  padding:1rem;
  
}

header a{
  color:white;
}
main{
  padding: 1rem;
}
.products
{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}
.product{
  border: 1px #404040 solid;
  
}
.product img{
  width:240px;
  height:350px;
  max-width: 400px;
  width:100%
}
.product-info
{
  padding: 1rem;
}